<div class="navbar">
  <div class="nav-header">
    <!--div class="nav-logo">
      <img src="assets/f2informatica_logo.jpeg">
    </div -->
    <a class="nav-title">Roll Call</a>
  </div>
  <hr>
  <div class="nav-content">
    <div class="nav-button" *ngFor="let value of sidebar_list; let index = index">
      <span (click)="emitEvent(index)">
        <i class="{{value.icon}}"></i> &nbsp; &nbsp;{{value.title}}
      </span>
    </div>
  </div>
  <div class="nav-footer" *ngIf="userData != null">
      <div class="nav-footer-heading">
          <div class="nav-footer-avatar">
            <p [attr.data-letters]="userData.name + ' ' +userData.surname | initials"></p>
          </div>
          <div class="nav-footer-titlebox">
              <span class="nav-footer-title">{{userData.name}} {{userData.surname}}</span>
              <span class="nav-footer-subtitle">Admin</span>
          </div>
      </div>
  </div>
</div>



