<div class="card" (scroll)="onScroll($event)">
  <div class="card-body pb-0">
    <div class="row">
      <div class="col-lg-10 col-md-8 col-sm-6">
        <h2 class="m-0">{{ title }}</h2>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="container container-icon">
          <i (click)="openCsvModal()" (keydown)="openCsvModal()" class="m-0 bi bi-filetype-csv icon-csv"></i>
          <i (click)="openCsvModal()" (keydown)="openCsvModal()"
             class="bi bi-plus-circle-fill icon-margin icon-plus"></i>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-4 col-md-3 col-xl-3">
        <form [formGroup]="form">
          <div class="container">
            <select formControlName="selectController" class="form-control m-0 select">
              <option value="">Select a month</option>
              <option *ngFor="let month of month_list"
                      [value]="month.month_format">
                {{ month.month_name }}
              </option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card-body overflow-body pt-0">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive-lg" *ngIf="data.length > 0">
          <table class="table table-hover">
            <thead class="thead-sticky">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Description</th>
              <th scope="col">Morning I</th>
              <th scope="col">Morning E</th>
              <th scope="col">Afternoon I</th>
              <th scope="col">Afternoon E</th>
            </tr>
            </thead>
            <tbody class="tbody-ex">
            <tr *ngFor="let value of data">
              <td>{{ value.data | date: 'dd MMM yyyy' }}</td>
              <td>{{ value.descrizione }}</td>
              <td>{{ value.inizioMattina | date: 'H:mm' }}</td>
              <td>{{ value.fineMattina | date: 'H:mm' }}</td>
              <td>{{ value.inizioPomeriggio | date: 'H:mm' }}</td>
              <td>{{ value.finePomeriggio | date: 'H:mm' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
  </div>
</div>


<!-- Modal -->
<dialog class="modal fade" id="exampleModalLong" tabindex="-1" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Modal content here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</dialog>
