.card {
  height: 100%;
}
.card-title {
  color: #18283b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  transition: opacity 1s;
  position: sticky !important;
  top: 0 !important;
}

.overflow-body {
  overflow: auto;
}

.tbody-ex::-webkit-scrollbar {
  height: 100px !important;
  display: table-row-group !important;
}

card-body {
  padding-top: 0;
}

.thead-ex {
  display: table-header-group !important;
}

.thead-sticky {
  position: sticky !important;
  top: 0px !important;
}

.thead-fix {
  position: inherit !important;
  top: 0px !important;
}

.table {
  top: 2vw;
}

.table-responsive {
  height: 470px;
  margin-top: 2vw;
}

hr {
  margin: 0;
  position: relative;
  width: calc(100% - 145px);
  border: none;
  border-top: solid 2px #8392a5;
  top: 12px;
}


.icon-csv {
  cursor: pointer;
  color: green;
}

.icon-margin {
  margin-left: 4px;
}

.icon-plus {
  cursor: pointer;
  color: #2c3e50;
}

.icon-csv, .icon-plus {
  font-size: 21px !important;
  vertical-align: middle !important;
}

.conteiner-icon {
  height: 100%;
  border: solid 2px #2c3e50;
  border-radius: 45%;
  padding: 1px;
  text-align: center;
}

.table-header-fix {
  height: 43px;
}

.conteiner-info-b {
  width: 155px !important;
  height: 100% !important;
  margin-left: 0 !important;
}

.cell-s {
  width: 40px;
}
