<!-- src/app/components/registry.component.html -->
<div class="card">
  <div class="card-body pb-0">
    <div class="row">
      <div class="col-lg-10 col-md-8 col-sm-6">
        <h2 class="m-0">User Registry</h2>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="container container-icon">
          <i (click)="openNewUserModal()"  (keydown)="openNewUserModal()" class="bi bi-plus-circle-fill icon-margin icon-plus"></i>
        </div>
      </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.telephone }}</td>
            <td>{{ user.role }}</td>
            <td>
              <button (click)="openEditUserModal(user)" class="btn btn-sm btn-primary">Edit</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
