<div class="card" (scroll)="onScroll($event)">
  <div class="card-body pb-0">
    <div class="row">
      <div class="col-lg-10 col-md-8 col-sm-6">
        <h2 class="m-0">User Registry</h2>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="container container-icon">
          <i (click)="openNewUserModal()" (keydown)="openNewUserModal()"
             class="bi bi-plus-circle-fill icon-margin icon-plus"></i>
        </div>
      </div>
    </div>
    <div class="card-body overflow-body pt-0">
      <div class="row mt-3">
        <div class="col-12">
          <div class="table-responsive-lg">
            <table class="table table-hover">
              <thead class="thead-sticky">
              <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Role</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody class="tbody-ex">
              <tr *ngFor="let user of users">
                <td>{{ user.username }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.role }}</td>
                <td>
                  <button (click)="openEditUserModal(user)" class="btn btn-sm btn-primary">Edit</button>
                  <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger">Delete</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
