@import "../node_modules/angular-calendar/css/angular-calendar.css";
/* You can add global styles to this file, and also import other style files */
.modal, .modal-dialog {
  width: 100% !important;
}
.modal-content {
  padding: 25px !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, 0%) !important;
  margin-top: 20px !important;
  width: 1100px !important;
}
body, html {
  height: 100%;
  background-image: linear-gradient(#FFFFD2, white) !important;
}

.card-header{
  background-image: linear-gradient(90deg, #a5d7b4, #dcede1);
  border-bottom: 2px solid !important;
  border-bottom-color: #AA96DA !important;
}

.card {
  padding: 0 !important;
  box-shadow: 0 10px 20px #AA96DA;
}

.icon-color {
  background-color: #AA96DA!important;
  color: white!important;
}

header {
  background-color: #AA96DA !important;
  padding: 20px;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.main-card {
  width: calc(100% - 256px - 3vw);
  height: calc(100% - 2vw);
  position: absolute;
  left: calc(256px + 2vw);
  margin-right: 1vw;
  top: 1vw;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}


::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #D62929;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
