<div class="modal-header">
  <h4 class="modal-title">{{ user ? 'Edit User' : 'Add New User' }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    <div class="modal-body">
      <form [formGroup]="newUserForm" (ngSubmit)="saveUser()">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text icon-color"><i class="bi bi-person"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="username" placeholder="Username">
          </div>
        </div>
        <div class="form-group" *ngIf="!user">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text icon-color"><i class="bi bi-lock"></i></span>
            </div>
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text icon-color"><i class="bi bi-envelope-fill"></i></span>
            </div>
            <input type="email" class="form-control" formControlName="email" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text icon-color"><i class="bi bi-person-badge-fill"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="name" placeholder="Name">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text icon-color"><i class="bi bi-person-badge-fill"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="surname" placeholder="Surname">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text icon-color"><i class="bi bi-telephone-fill"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="telephone" placeholder="Telephone">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text icon-color"><i class="bi bi-person-badge-fill"></i></span>
            </div>
            <select class="form-control" formControlName="role">
              <option value="">Select Role</option>
              <option value="user">User</option>
              <option value="admin">Admin</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!newUserForm.valid">Save</button>
        </div>
      </form>
    </div>
